# First python Program chapter=2

In [1]:
print("I am gonna be A Pythonista.")
#print() is a Function

I am gonna be A Pythonista.

In [2]:
print("Mu name is Khan and I am not a terrorist.")

Mu name is Khan and I am not a terrorist.

In [3]:
3+4

7

In [4]:
10-2

8

In [5]:
6*7

42

In [6]:
48/3

16.0

In [7]:
10%3

1

In [8]:
5+(9*3)

32

In [9]:
-13+5

-8

# Variable Data type and Data Input chapter=3

In [10]:
x=5
x

5

In [11]:
x=12
x

12

In [12]:
x=10.4
x

10.4

In [13]:
x='python'
x

'python'

In [14]:
_x=10
_x

10

In [15]:
a=5
b=10
a*b

50

In [16]:
a=5
type(a)

int

In [17]:
b=10
type(b)

int

In [18]:
type(a*b)

int

In [19]:
a=1
type(a)

int

In [20]:
b=3.1416
type(b)

float

In [21]:
c='Hello world'
type(c)

str

In [22]:
d=True
type(d)

bool

In [23]:
a=input()
a

10

'10'

In [24]:
a=input()
b=input()
a*b

10
40

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
a=input()

10

In [26]:
type(a)

str

In [27]:
b=input()

40

In [28]:
type(b)

str

In [29]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
a=5
type(a)

int

In [31]:
a=str(a)
type(a)

str

In [32]:
a=input()
a=int(a)
b=input()
b=int(b)
a*b

2
3

6

In [33]:
a=int(input())
b=int(input())
a*b

10
40

400

In [34]:
a,b=input().split()
print(a)
print(b)

10

ValueError: not enough values to unpack (expected 2, got 1)

# Operator chapter=4

# Arithmetic Operator

In [35]:
3+2

5

In [36]:
10-2

8

In [37]:
6*2

12

In [38]:
48/3

16.0

In [39]:
10%3

1

In [40]:
3**2

9

In [42]:
5+(9*3)

32

In [43]:
-13+5

-8

In [44]:
1.0/2.0

0.5

In [45]:
1.0//2.0

0.0

# Composite Operator

In [46]:
2==2

True

In [47]:
2!=2

False

In [48]:
5>3

True

In [49]:
5<=3

False

In [50]:
5>=3

True

# Assinment Operator

In [51]:
a=5
a

5

In [52]:
a+=2
a

7

In [53]:
a-=3
a

4

In [54]:
a*=3
a

12

In [55]:
a/=2
a

6.0

# Logical Operator

In [56]:
2==2 and 3==3

True

In [57]:
2==2 and 3==4

False

In [58]:
2==2 or 3==4

True

In [59]:
2==5 or 3==4

False

In [60]:
2==5

False

In [61]:
not 2==5

True

# Membership Operator

In [62]:
a='Bangladesh'
b='desh'
b in a

True

In [63]:
a in b

False

In [64]:
a not in b

True

# Identity operator

In [65]:
a='Bangladesh'
b=12
a is b

False

In [66]:
a='Bangladesh'
b=10
a is b

False

In [67]:
a='Bangladesh'
b='Bangladesh'
a is b

True

In [68]:
a='Bangladesh'
b=12
a is not b

True

In [69]:
a=1
b=1
b is a

True

In [70]:
a=6000
b=6000
b is a

False

In [71]:
a=6000
b=6000
a is b

False

In [72]:
a=10
b=10
b is a

True

In [73]:
a=100
b=100
b is a

True

In [74]:
a=1000
b=1000
b is a

False

# Comment chapter=5

In [76]:
 a=23
# a is an int variable

In [77]:
a=15 # a is a dividend
b=3 #b is a divisor
a/b

5.0

In [78]:
print("I like the # symbole")

I like the # symbole

In [79]:
# a is an int variable
#This is another comment.

In [80]:
"""
a is an int variable.
This is another comment"""

'\na is an int variable.\nThis is another comment'

# String Manipolation chapter=6

In [81]:
a='bangla'
b="desh"
type(a)

str

In [82]:
type(b)

str

In [83]:
c='Bangaldesh is my 'motherlnd', I love her very much.'
c

SyntaxError: invalid syntax (<ipython-input-83-a5790d24e5fe>, line 1)

In [84]:
c="Bangaldesh is my 'motherlnd', I love her very much."
c

"Bangaldesh is my 'motherlnd', I love her very much."

In [85]:
c="Bangaldesh is my "motherlnd", I love her very much."
c

SyntaxError: invalid syntax (<ipython-input-85-fb8435077881>, line 1)

In [86]:
c="Bangaldesh is my \"motherlnd\", I love her very much."
c

'Bangaldesh is my "motherlnd", I love her very much.'

In [87]:
'Bangaldesh is my \'motherlnd\', I love her very much.'
c

'Bangaldesh is my "motherlnd", I love her very much.'

In [88]:
print('\')

SyntaxError: EOL while scanning string literal (<ipython-input-88-eaac87876c3b>, line 1)

In [89]:
print('\\')

\

In [90]:
print("\\")

\

In [91]:
print('\n')

In [92]:
print('\t')

In [93]:
print('\t')

In [94]:
b

'desh'

In [95]:
a[0]

'b'

In [96]:
a[1]

'a'

In [97]:
a[2]

'n'

In [98]:
a[3]

'g'

In [99]:
a[4]

'l'

In [100]:
a[5]

'a'

In [101]:
a[6]

IndexError: string index out of range

In [102]:
a[1:4]

'ang'

In [103]:
#bangladesh
a[:1]

'b'

In [104]:
a[:2]

'ba'

In [105]:
a[:3]

'ban'

In [106]:
a[2:]

'ngla'

In [107]:
a[4:]

'la'

In [108]:
a[-1]

'a'

In [109]:
a[-2]

'l'

In [110]:
a='bangla'
print(a)

bangla

In [111]:
a='bangla'
print('My favorite language is:',a)

My favorite language is: bangla

In [112]:
a='bangla'
print('My favorite language is:%s'%a)

My favorite language is:bangla

In [113]:
number=436.2345534555555
print(number)
print('%.2f'%number)

436.2345534555555
436.23

In [114]:
print('%.4f'%number)

436.2346

In [115]:
print('%.1f'%number)

436.2

In [116]:
print('%.5f'%number)

436.23455

In [117]:
a=input()
b=input()
print('My favorite languages are:',a,'and',b)

hamid
hosen
My favorite languages are: hamid and hosen

In [118]:
a=input()
b=input()
print('My favorite languages are:%s and %s'%(a,b))

sfd
sdfs
My favorite languages are:sfd and sdfs

In [119]:
a='bangla'
a

'bangla'

In [120]:
b='desh'
b

'desh'

In [121]:
a+b

'bangladesh'

In [122]:
x='dhaka'
x

'dhaka'

In [123]:
y='barisal'
y

'barisal'

In [124]:
z='sylhet'
z

'sylhet'

In [125]:
x+'-'+y+'-'+z

'dhaka-barisal-sylhet'

In [126]:
'-'.join((x,y,z))

'dhaka-barisal-sylhet'

In [127]:
a='bangla'
a.capitalize()

'Bangla'

In [128]:
a.upper()

'BANGLA'

In [129]:
a='bangladesh is my motherland. i just love her.'
a.title()

'Bangladesh Is My Motherland. I Just Love Her.'

In [130]:
a='BANGLA'
a.lower()

'bangla'

In [131]:
a='Bangla'
a.lower()

'bangla'

In [132]:
a='BANGLADESH'
a.casefold()

'bangladesh'

In [134]:
a='Bangladesh'
a.casefold()

'bangladesh'

In [135]:
a='Bangladesh'
a.swapcase()

'bANGLADESH'

In [136]:
a='bangla'
len(a)

6

In [137]:
a='bangla'
a.count('a')

2

In [138]:
sentence='How can a clam cram in a clean cream can?'
sentence.count('c')

6

In [139]:
sentence.count('c',5)#(x,start(index),end(index))

5

In [140]:
sentence.count('c',5,9)

0

In [141]:
sentence='How can a clam cram in a clean cream can?'
sentence.find('c')

4

In [142]:
sentence.find('c',5)

10

In [143]:
a="Bangladesh is my country"
a.find('x')

-1

In [144]:
a.index('x')

ValueError: substring not found

In [145]:
sentence='How can a clam cram in a clean cream can?'
sentence.replace('c','d')

'How dan a dlam dram in a dlean dream dan?'

In [146]:
sentence.replace('?','')

'How can a clam cram in a clean cream can'

In [147]:
sentence='How can a clam cram in a clean cream can?'
sentence.strip('?')

'How can a clam cram in a clean cream can'

In [148]:
sentence.strip('H')

'ow can a clam cram in a clean cream can?'

In [150]:
sentence.strip('c')

'How can a clam cram in a clean cream can?'

In [151]:
sentence='How can a clam cram in a clean cream can?'
sentence.split()

['How', 'can', 'a', 'clam', 'cram', 'in', 'a', 'clean', 'cream', 'can?']

# List Chapter=7

In [152]:
a=[]
a

[]

In [153]:
type(a)

list

In [154]:
a=['onion','potato','ginger','cucumber']
a

['onion', 'potato', 'ginger', 'cucumber']

In [155]:
type(a)

list

In [156]:
b=['onion','potato','ginger','cucumber',1,3.1416]
b

['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [157]:
type(b)

list

In [158]:
b[0]

'onion'

In [159]:
b[1]

'potato'

In [160]:
b[1:5]

['potato', 'ginger', 'cucumber', 1]

In [161]:
b[:5]

['onion', 'potato', 'ginger', 'cucumber', 1]

In [162]:
b[2:]

['ginger', 'cucumber', 1, 3.1416]

In [163]:
type(b[0])

str

In [164]:
type(b[4])

int

In [165]:
type(b[5])

float

In [166]:
b=['onion','potato','ginger','cucumber',1,3.1416]
b[0]='rice'
b

['rice', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [167]:
b[4]=570
b

['rice', 'potato', 'ginger', 'cucumber', 570, 3.1416]

In [168]:
b[5]=3.55555553
b

['rice', 'potato', 'ginger', 'cucumber', 570, 3.55555553]

In [169]:
b[5]=2348.4678
b

['rice', 'potato', 'ginger', 'cucumber', 570, 2348.4678]

In [170]:
b[2]=343
b

['rice', 'potato', 343, 'cucumber', 570, 2348.4678]

In [171]:
b[4]='finger'
b

['rice', 'potato', 343, 'cucumber', 'finger', 2348.4678]

In [172]:
b[6]='new'
b

IndexError: list assignment index out of range

In [173]:
b.append('new')
b

['rice', 'potato', 343, 'cucumber', 'finger', 2348.4678, 'new']

In [174]:
b.insert(1,'python')
b

['rice', 'python', 'potato', 343, 'cucumber', 'finger', 2348.4678, 'new']

In [175]:
b.extend(['a','b','c'])
b

['rice',
 'python',
 'potato',
 343,
 'cucumber',
 'finger',
 2348.4678,
 'new',
 'a',
 'b',
 'c']

In [176]:
b+['a','b','c']

['rice',
 'python',
 'potato',
 343,
 'cucumber',
 'finger',
 2348.4678,
 'new',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [177]:
b+[1,2,3,4,5]+['d','e']

['rice',
 'python',
 'potato',
 343,
 'cucumber',
 'finger',
 2348.4678,
 'new',
 'a',
 'b',
 'c',
 1,
 2,
 3,
 4,
 5,
 'd',
 'e']

In [178]:
b=['rice', 'python', 'potato', 343, 'cucumber', 'finger', 2348.4678, 'new','a','b','c']
b

['rice',
 'python',
 'potato',
 343,
 'cucumber',
 'finger',
 2348.4678,
 'new',
 'a',
 'b',
 'c']

In [179]:
del b[3]
b

['rice',
 'python',
 'potato',
 'cucumber',
 'finger',
 2348.4678,
 'new',
 'a',
 'b',
 'c']

In [180]:
b.remove('python')
b

['rice', 'potato', 'cucumber', 'finger', 2348.4678, 'new', 'a', 'b', 'c']

In [181]:
del b[-1]
b

['rice', 'potato', 'cucumber', 'finger', 2348.4678, 'new', 'a', 'b']

In [182]:
b.pop()
b

['rice', 'potato', 'cucumber', 'finger', 2348.4678, 'new', 'a']

In [183]:
b.pop()

'a'

In [184]:
b

['rice', 'potato', 'cucumber', 'finger', 2348.4678, 'new']

In [185]:
len(b)

6

In [186]:
b.count('potato')

1

In [187]:
b=['potato','a','b','potato','potato','potato']
b.count('potato')

4

In [188]:
b=['rice', 'python', 'potato', 343, 'cucumber', 'finger', 2348.4678, 'new']
b.reverse()
b

['new', 2348.4678, 'finger', 'cucumber', 343, 'potato', 'python', 'rice']

In [189]:
a=[8,3,5,1,6,2,9,7,0,4]
a

[8, 3, 5, 1, 6, 2, 9, 7, 0, 4]

In [190]:
a.sort()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
b=['b','c','a',':''maateen']
b.sort()
b

[':maateen', 'a', 'b', 'c']

# Tuple Chapter=8

In [192]:
a=()
a

()

In [193]:
type(a)

tuple

In [194]:
a=('onion','potato','ginger','cucumber')
a
type(a)

tuple

In [196]:
a=('onion','potato','ginger','cucumber',1,3.1416)
a

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [197]:
type(a)

tuple

In [198]:
a[0]

'onion'

In [199]:
a[1]

'potato'

In [200]:
a[1:5]

('potato', 'ginger', 'cucumber', 1)

In [201]:
a[:5]

('onion', 'potato', 'ginger', 'cucumber', 1)

In [202]:
a[2:]

('ginger', 'cucumber', 1, 3.1416)

In [203]:
type(a[0])

str

In [204]:
type(a[4])

int

In [205]:
type(a[5])

float

In [206]:
a

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [207]:
a[0]='new'

TypeError: 'tuple' object does not support item assignment

In [208]:
a

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [209]:
a+('new',)

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416, 'new')

In [210]:
a

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [211]:
len(a)

6

In [212]:
a.count('potato')

1

# Set chapter=9

In [214]:
A={'orange','banana','pear','apple'}
A

{'apple', 'banana', 'orange', 'pear'}

In [215]:
type(A)

set

In [216]:
A=set('orange','banana','pear','apple')
A

TypeError: set expected at most 1 argument, got 4

In [217]:
A=set('ankjgelgsd')
A

{'a', 'd', 'e', 'g', 'j', 'k', 'l', 'n', 's'}

In [218]:
type(A)

set

In [219]:
A={'apple','orange','apple','pear','orange','banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [220]:
A=set()
type(A)

set

In [221]:
A

set()

In [222]:
A={}
A

{}

In [223]:
type(A)

dict

In [224]:
A={'apple','orange','apple','pear','orange','banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [225]:
A[0]

TypeError: 'set' object is not subscriptable

In [226]:
A={'apple','orange','apple','pear','orange','banana'}
A.add('pineapple')
A

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [227]:
A

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [228]:
A.update('berry','grape')
A

{'a',
 'apple',
 'b',
 'banana',
 'e',
 'g',
 'orange',
 'p',
 'pear',
 'pineapple',
 'r',
 'y'}

In [229]:
A.update({'berry','grape'})
A

{'a',
 'apple',
 'b',
 'banana',
 'berry',
 'e',
 'g',
 'grape',
 'orange',
 'p',
 'pear',
 'pineapple',
 'r',
 'y'}

In [230]:
A={'apple','orange','apple','pear','orange','banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [231]:
A.remove('apple')
A

{'banana', 'orange', 'pear'}

In [232]:
A.remove('pear')
A

{'banana', 'orange'}

In [233]:
A.remove('hamis')

KeyError: 'hamis'

In [235]:
A={'apple','orange','apple','pear','orange','banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [236]:
A.discard('apple')
A

{'banana', 'orange', 'pear'}

In [237]:
A.discard('hamid')
A

{'banana', 'orange', 'pear'}

In [238]:
A={'apple','orange','apple','pear','orange','banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [239]:
A.pop()

'apple'

In [240]:
A.pop()

'pear'

In [241]:
A.pop()

'orange'

In [242]:
A={'apple','orange','apple','pear','orange','banana'}
A.clear()
A

set()

In [243]:
A={1,2,3,4,5}
B={6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [246]:
A={1,2,3,4,5}
B={2,3,4,5,6,7}
A.intersection(B)

{2, 3, 4, 5}

In [245]:
A={1,2,3,4,5,6}
b={5,6,7,8}
A.difference(b)

{1, 2, 3, 4}

In [247]:
A={1,2,3,4,5,6}
B={9,8}
A.difference(B)

{1, 2, 3, 4, 5, 6}

# Dictionary chapter=10

In [248]:
a={}
a

{}

In [249]:
type(a)

dict

In [250]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [252]:
type(a)

dict

In [253]:
a=dict()
a

{}

In [254]:
type(a)

dict

In [255]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [256]:
a['name']

'Md.Hamid Hosen'

In [257]:
a['nickname']

'Azad'

In [258]:
a['email']

'hamidhosen8444@gamil.com'

In [259]:
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [260]:
a['name']='Fahim'
a

{'name': 'Fahim',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [262]:
a['hometown']='chittagong'
a

{'name': 'Fahim',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong'}

In [263]:
a

{'name': 'Fahim',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong'}

In [264]:
b={'hometown':'chittagong','fav_poet':'Nazrul'}
a.update(b)
a

{'name': 'Fahim',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong',
 'fav_poet': 'Nazrul'}

In [265]:
a

{'name': 'Fahim',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong',
 'fav_poet': 'Nazrul'}

In [266]:
del a['name']
a

{'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong',
 'fav_poet': 'Nazrul'}

In [267]:
a

{'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899',
 'hometown': 'chittagong',
 'fav_poet': 'Nazrul'}

In [268]:
a.clear()
a

{}

In [269]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [270]:
del a
a

NameError: name 'a' is not defined

In [271]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [272]:
a.copy()

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [273]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [274]:
a.get('name')

'Md.Hamid Hosen'

In [275]:
a.get('home')

In [276]:
a.get('home','kicu nai')

'kicu nai'

In [277]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [278]:
'name' in a

True

In [279]:
'home' in a

False

In [280]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [281]:
a.items()

dict_items([('name', 'Md.Hamid Hosen'), ('nickname', 'Azad'), ('email', 'hamidhosen8444@gamil.com'), ('phone', '19386899')])

In [282]:
a={'name':'Md.Hamid Hosen',"nickname":'Azad','email':'hamidhosen8444@gamil.com','phone':'19386899'}
a

{'name': 'Md.Hamid Hosen',
 'nickname': 'Azad',
 'email': 'hamidhosen8444@gamil.com',
 'phone': '19386899'}

In [283]:
a.keys()

dict_keys(['name', 'nickname', 'email', 'phone'])

In [284]:
a.values()

dict_values(['Md.Hamid Hosen', 'Azad', 'hamidhosen8444@gamil.com', '19386899'])

# Conditional logic chapter=11

In [285]:
a=5
a

5

In [286]:
if a<10:
    print("a is less then 10")

a is less then 10

In [287]:
a=15
if a<10:
    print("a is less then 10")

In [288]:
a=5
if a<10:
    print("a is less then 10")
else:
    print(" a is greater than 10")

a is less then 10

In [289]:
a=15
if a<10:
    print("a is less then 10")
else:
    print(" a is greater than 10")

 a is greater than 10

In [290]:
a=int(input("Enter your number:"))
if a==5:
    print("a is equal to 5")
elif a<5:
    print("a is less then 10")
else:
    print('a is greater than 10')

Enter your number:2
a is less then 10

In [291]:
a = int(input("Enter your number:"))
if a < 10:
    if (a % 2) == 0:
        print('less, yes')
    else:
        print('less, no')
else:
    if (a % 3) == 0:
        print('grater,yes')
    else:
        print('grater,no')

Enter your number:3
less, no

In [292]:
a=5
if a:
    print(True)
else:
    print(False)

True

In [293]:
a=0
if a:
    print(True)
else:
    print(False)

False

In [294]:
a=not None
if a:
    print(True)
else:
    print(False)

True

In [295]:
a=None
if a:
    print(True)
else:
    print(False)

False

In [296]:
a=[1,2,3]
b=a
b is a

True

In [297]:
b==a

True

In [298]:
b=a[:]
b is a

False

In [299]:
b==a

True

In [300]:
4 is 2**2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-300-89acc181635f>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 2**2

True

In [301]:
4==2**2

True

In [302]:
1000 ==10**3

True

In [303]:
1000 is 10**3

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-303-d1e85a00d4b6>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1000 is 10**3

True

In [307]:
if __name__="__main__":
    #do something

SyntaxError: invalid syntax (<ipython-input-307-f91c35f75007>, line 1)

In [308]:
number=int(input("Please input an integer:"))
if number%3==0 and number%5==0:
    print("yes")
else:
    print("No")

Please input an integer:13
No

In [309]:
print("please,input the number:")
number=float(input())
if number==0:
    print("Zero")
elif number>0:
    print("Positive")
else:
    prit("Negative")

please,input the number:
0
Zero

In [310]:
print("please,input the number:")
number=int(input())
if number%2==0:
    print("Even")
else:
    print("Odd")

please,input the number:
5
Odd

In [311]:
print("please,input the charecter:")
charecter=input()
if charecter>='a' and charecter<='z':
    print("Lower case")
elif charecter>='A' and charecter<='Z':
    print("Upper case")
else:
    print("Nothing")

please,input the charecter:
g
Lower case

In [312]:
print("please,input the charecter:")
charecter=input()
if charecter>='a' and charecter<='z' or charecter>='A' and charecter<='Z':
    if charecter in 'aeiouAEIOU':
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Nothing")

please,input the charecter:
e
Vowel

In [313]:
a=int(input("Please input your a:"))

b=a
temp=a//1000 #// Floor
print(temp,'1000 Taka note(s).')


temp=a//500
print(temp,"500 Taka note(s).")

temp=a//100
print(temp,"100 Taka note(s).")

temp=a//50
print(temp,"50 Taka note(s).")

temp=a//20
print(temp,"20 Taka note(s).")

temp=a//10
print(temp,"10 Taka note(s).")

temp=a//5
print(temp,"5 Taka note(s).")

temp=a//2
print(temp,"2 Taka note(s).")

temp=a//1
print(temp,"1 Taka note(s).")

Please input your a:5000
5 1000 Taka note(s).
10 500 Taka note(s).
50 100 Taka note(s).
100 50 Taka note(s).
250 20 Taka note(s).
500 10 Taka note(s).
1000 5 Taka note(s).
2500 2 Taka note(s).
5000 1 Taka note(s).

In [314]:
amount=int(input("Enter amount"))

if(amount>=500):
    note500=amount/500
    amount=note500*500

if(amount>=100):
    note100=amount/100
    amount=note100*100

if(amount>=50):
    note50=amount/50
    amount=note50*50

if(amount>=20):
    note20=amount/20
    amount=note20*20

if(amount>=10):
    note10=amount/10
    amount=note10*10

if(amount>=5):
    note5=amount/5
    amount=note5*5

if(amount>=2):
    note2=amount/2
    amount=note2*2

if(amount>=1):
    note1=amount
print("Total number of notes=\n")
print("500 tk note:",note500)
print("100 tk note:",note100)
print("50 tk note:",note50)
print("20 tk note:",note20)
print("10 tk note:",note10)
print("5 tk note:",note5)
print("2 tk note:",note2)
print("1 tk note:",note1)

Enter amount5000
Total number of notes=

500 tk note: 10.0
100 tk note: 50.0
50 tk note: 100.0
20 tk note: 250.0
10 tk note: 500.0
5 tk note: 1000.0
2 tk note: 2500.0
1 tk note: 5000.0

In [315]:
year=int(input("Enter your year:"))
if ((year%400==0) or(year%100!=0 and year%4==0)):
    print(year,"Leap year.")
else:
    print(year,"not leap year.")

Enter your year:2015
2015 not leap year.

In [316]:
number=int(input("Enter your marks:"))
if number>=80:
    print("A+")
elif (number<80 and number>=70):
    print('A')
elif (number<70 and number>=60):
    print('A-')
elif (number<60 and number>=50):
    print("B")
elif(number<50 and number>=40):
    print("C")
else:
    print("F")

Enter your marks:60
A-

# Loop chapter=12

In [317]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [318]:
n=1
while n<=10:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

In [320]:
n=1
sum=0
while n<=100:
    sum=sum+n
    n=n+1
print(sum)

5050

In [321]:
n=100
temp=n*(n+1)
temp=temp/2
print(temp)

5050.0

In [322]:
n=1
sum=0
while n<=97:
    sum=sum+n
    n=n+2
print(sum)

2401

In [323]:
a=['onion','potato','ginger','cucumber']
print(type(a))
for item in a:
    print(item)

<class 'list'>
onion
potato
ginger
cucumber

In [324]:
a={'name':'Md.Hamid Hosen','email':'hamidhosen8444@gmail.com','nickname':'Azad','phone':'0928799287'}
print(a)
print(type(a))
for item in a:
    print(item)

{'name': 'Md.Hamid Hosen', 'email': 'hamidhosen8444@gmail.com', 'nickname': 'Azad', 'phone': '0928799287'}
<class 'dict'>
name
email
nickname
phone

In [325]:
a='python'
for letter in a:
    print(letter)

p
y
t
h
o
n

In [326]:
range(5)

range(0, 5)

In [327]:
list(range(5))

[0, 1, 2, 3, 4]

In [328]:
range(5,21)

range(5, 21)

In [329]:
list(range(5,21))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [330]:
range(5,20,2)

range(5, 20, 2)

In [332]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [333]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [334]:
for number in range(1,11):
    if number==5:
        break
    print(number)

1
2
3
4

In [335]:
for number in range(1,11):
    if number==5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

In [336]:
for number in range(1,11):
    if number==5:
        pass
    print(number)

1
2
3
4
5
6
7
8
9
10

In [338]:
n=1
while n<=10:
    print(n)
    n=n+1
else:
    print("The loop is over.")

1
2
3
4
5
6
7
8
9
10
The loop is over.

In [339]:
for n in range(1,11):
    print(n)
    
else:
    print("The loop is over")

1
2
3
4
5
6
7
8
9
10
The loop is over

In [ ]:
i=1
while i>0:
    i+=1
    print(i)

In [1]:
number=int(input("Enter your number:"))
count=1
while count<=10:
    print(number,'X',count,'=',number*count)
    count=count+1

Enter your number:9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [2]:
my_list=[]

for i in range(1,101):
    if i%3==0 and i%5!=0:
        my_list.append(i)
print(my_list)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

In [3]:
a=[13,34,19,28,46,61,73,49,1,31,4,7,91,58,52,82,70,43,88,55,97,16,22,25,79,85,40,64,94,67,37]
my_list=[]
for i in a:
    if i<50:
        my_list.append(i)
print(my_list)

[13, 34, 19, 28, 46, 49, 1, 31, 4, 7, 43, 16, 22, 25, 40, 37]

In [4]:
a=[40,45,33,34,8,38,28,22,1,7,49,41,14,5,22,39,15,19,36,56,32,67,43,68,2,6,255,78,33,56,14,5,19,40]
my_list=[]
for i in a:
    if i not in my_list:
        my_list.append(i)
print(my_list)

[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 39, 15, 19, 36, 56, 32, 67, 43, 68, 2, 6, 255, 78]

In [5]:
print("Please,input the number:")
number=int(input())
temp=number
while number>0:
    count=temp
    while(count>0):
        print('*',end='')
        count=count-1
    print()
    number=number-1

Please,input the number:
5
*****
*****
*****
*****
*****

In [6]:
print("Please input your word:")
word=input()
word=word.casefold()
reversed_word=word[::-1]
if word==reversed_word:
    print("Great! It is pallindrome.")
else:
    print("LOL! It is not pallindrome.")

Please input your word:
madam
Great! It is pallindrome.

In [7]:
my_list=[1,3,5,7,11,13,15,17,20,26,31,44,54,56,65,77,94,100]

print("Input the number;")
number=int(input())

first=0
last=len(my_list)-1
found=False
cycle=0

while first<=last and not found:
    midpoint=(first+last)//2 #// means floor
    if my_list[midpoint]==number:
        found=True
        print("%d is location search %d"%(number,midpoint+1))
        #break
    else:
        if my_list[midpoint]>number:
            last=midpoint-1
        else:
            first=midpoint+1
    cycle=cycle+1
print('Found after',cycle,'cycle')

Input the number;
44
44 is location search 12
Found after 4 cycle

In [8]:
number=1
sum=0
while number<=100:
    sum=sum+number
    number=number+1
print("The sum is :",sum)

The sum is : 5050

In [9]:
n=int(input("Enter the number:"))
i=1
while i<=n:
    j=1
    while j<=i:
        print('#',end='')
        j=j+1
    i=i+1
    print()

Enter the number:5
#
##
###
####
#####

In [10]:
a=[40,45,33,34,8,38,28,22,1,7,49,41,14,5,22,39,15,19,36,56,32,67,43,68,2,6,255,78,33,56,14,5,19,40]
my_list=[]
for i in a:
    if i not in my_list:
        my_list.append(i)
print(my_list)

[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 39, 15, 19, 36, 56, 32, 67, 43, 68, 2, 6, 255, 78]

In [11]:
A={1,2,3,4,5}
B={5,6,7,8}
print(A.union(B))
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{5}

# Comprehention chapter=13

In [12]:
my_list=[i for i in range(20) if i%2==0]
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
my_list=[i**2 for i in range(20) if i%2==0]
my_list

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [14]:
a_list=['Maateen','Khan','Maksudur','a','b','c']
my_set={ i for i in a_list}
my_set

{'Khan', 'Maateen', 'Maksudur', 'a', 'b', 'c'}

In [15]:
a_list=['Maateen','Khan','Maksudur','a','b','c']
my_set={ i for i in a_list if len(i)>1} #(i=output expretion// for i in =input sequence//if =conditional logic)
my_set

{'Khan', 'Maateen', 'Maksudur'}

In [16]:
a_list=['name','country','carrer']
b_list=["Maateen",'Bangladesh','TeleTalk']
my_dict={i:j for i,j in zip(a_list,b_list)}
my_dict

{'name': 'Maateen', 'country': 'Bangladesh', 'carrer': 'TeleTalk'}

In [17]:
b=[i for i in range(11,21)]
b

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
c=zip(a,b)
c

In [19]:
list(c)

[(40, 11),
 (45, 12),
 (33, 13),
 (34, 14),
 (8, 15),
 (38, 16),
 (28, 17),
 (22, 18),
 (1, 19),
 (7, 20)]

In [20]:
my_dict={'name': 'Maateen', 'country': 'Bangladesh', 'carrer': 'TeleTalk'}
my_dict

{'name': 'Maateen', 'country': 'Bangladesh', 'carrer': 'TeleTalk'}

In [21]:
new_dict= {key:value for value,key in my_dict.items()}
new_dict

{'Maateen': 'name', 'Bangladesh': 'country', 'TeleTalk': 'carrer'}

In [22]:
new_dict= {key:value for key,value in my_dict.items()}
new_dict

{'name': 'Maateen', 'country': 'Bangladesh', 'carrer': 'TeleTalk'}

# Function chapter=14

In [23]:
def print_my_name(myname):
    #This wil print the given name
    print("The given name is ",myname)
    return
print_my_name('Hamid')

The given name is  Hamid

In [24]:
def print_my_name(myname):
    #This wil print the given name
    print("The given name is ",myname)
    return
name='hamid'
print_my_name(name)

The given name is  hamid

In [25]:
def add(a,b,c):
    return a+b+c
temp=add(1,2,3)
print(temp)

6

# Required Argument

In [26]:
def add(a,b,c):
    return a+b+c
temp=add(1,2)
print(temp)

TypeError: add() missing 1 required positional argument: 'c'

# Keyword argument

In [27]:
def add(a,b,c):
    return a+b+c
temp=add(b=2,c=3,a=1)
print(temp)

6

# Default argument

In [29]:
def add(a,b,c=3):
    return a+b+c
temp=add(1,2)
print(temp)

6

# Variable-length argument

In [30]:
def add(a,b,c=3):
    return a+b+c
temp=add(1,2,22)
print(temp)

25

In [31]:
def add(*args):
    print(type(args))
    tmp=0
    for number in args:
        tmp=tmp+number
    return tmp
temp=add(1,2,22,12,17,21,98)
print(temp)

<class 'tuple'>
173

In [32]:
def add(*args):
    type(args)
    tmp=0
    for number in args:
        tmp=tmp+number
    return tmp
temp=add(1,2,22,12,17,21,98)
print(temp)

173

In [33]:
def add(**kwargs):
    print(type(kwargs))
    tmp=0
    for number in kwargs:
        tmp=tmp+kwargs[number]
    return tmp
temp=add(a=1,b=2,c=3,d=4)
print(temp)

<class 'dict'>
10

# Recursion

In [34]:
def counter(num):
    print(num)
    num=num+1
    counter(num)
counter(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957

RecursionError: maximum recursion depth exceeded while calling a Python object

In [35]:
print("please input your number:")
number=int(input())
temp=number

while number>1:
    number=number-1
    temp=temp*number
if temp==0:
    print(1)
else:
    print(temp)

please input your number:
5
120

In [36]:
def factorial(number):
    if number==0:
        return 1
    else:
        return number*factorial(number-1)

print("Please input your number:")
number=int(input())
print(factorial(number))

Please input your number:
5
120

# lambda

In [37]:
sum=lambda a,b:a+b
print(sum(10,20))
print((lambda a,b:a+b)(10,20))

30
30

In [38]:
def my_function(func,arg1,arg2):
    return func(arg1,arg2)
print(my_function(lambda a,b:a+b,10,20))

30

# map()

In [39]:
my_list=[2,3,4,5,6,7]
def square(x):
    return x*x
new_list=map(square,my_list)
print(new_list)
print(list(new_list))

<map object at 0x000001CE091FDF10>
[4, 9, 16, 25, 36, 49]

In [40]:
a,b=map(int,input().split())

10 29

In [41]:
type(a)

int

In [42]:
type(b)

int

In [43]:
a+b

39

# filter()

In [44]:
my_list=[2,3,4,5,6,7]
def is_even(x):
    if x%2==0:
        return True
    else:
        return False
new_list=filter(is_even,my_list)
print(new_list)
print(list(new_list))

<filter object at 0x000001CE091FDDC0>
[2, 4, 6]

In [45]:
print("Please input three integer:")
a,b,c=map(int,input().split())

if a>=b and a>=c:
    greatest=a
elif b>=a and b>=c:
    greatest=b
else:
    greatest=c
print(greatest)

Please input three integer:
10 20 5
20

In [46]:
def gcd(a,b):
    if b>a:
        gcd(b,a)
    while b!=0:
        temp=a%b
        a=b
        b=temp
    return a

print('Please input two integer:')
a,b=map(int,input().split())
print(gcd(a,b))

Please input two integer:
20 8
4

In [47]:
def gcd(a,b):
    if b>a:
        gcd(b,a)
    while b!=0:
        temp=a%b
        a=b
        b=temp
    return a

def lcm(a,b):
    return (a*b)//gcd(a,b)

print('Please input two integer:')

a,b=map(int,input().split())
print(lcm(a,b))

Please input two integer:
12 18
36

In [48]:
def is_prime(n):
    if n <=1:
        raise ValueError('The number must be greater than 1.')
    elif n<=3:
        return True
    elif (n%2)==0 or (n%3)==0:
        return False
    else:
        i=5
        while(i*i)<=n:
            if (n%i)==0 or (n%i+2)==0:
                return False
            i=i+6
        return True

print("Please input your number:")
number=int(input())

if is_prime(number):
    print(number,' is a prime number.')
else:
    print(number,'is a composite number.')

Please input your number:
3
3  is a prime number.

# File Chapter=15

In [50]:
my_file=open('test.txt','r')
content=my_file.read()
print(content)
my_file.close()

The name of my country is Bangladesh.S

In [51]:
my_file=open('test.txt','w')
my_file.write("I am Md Hamid Hosen")
my_file.close()

In [52]:
my_file=open('test.txt','a')
my_file.write("I am from bangladesh")
my_file.close()

In [53]:
my_file=open('test.txt','r')
content=my_file.read(5)
print(content)

content=my_file.read()
print(content)

position=my_file.tell()
print(position)

my_file.seek(0,0)
content=my_file.read()
print(content)
my_file.close()

I am
Md Hamid HosenI am from bangladesh
39
I am Md Hamid HosenI am from bangladesh

In [54]:
with open('test.txt','r') as my_file:
    contant=my_file.read()
    print(contant)

I am Md Hamid HosenI am from bangladesh

# Error Handleg Chapter=16

In [56]:
with open("test.txt",'r') as my_file:
    content=my_file.read()
    print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

# try...except

In [57]:
try:
    with open('test.txt','r') as file_name:
        content=file_name.read()
        print(content)

except:
    print("The file does not exits.")
print('Made by Maateen')

The file does not exits.
Made by Maateen

In [58]:
try:
    with open('test.txt','r') as my_file:
        content=my_file.read()
        print(content)

except FileNotFoundError:
    print("The file does not exit.")

print('Made by Hamid.')

try:
    my_list=[]
    print(my_list[0])
except IndexError as e:
    print(e)

The file does not exit.
Made by Hamid.
list index out of range

In [59]:
try:
    with open('test.txt','r') as my_file:
        content=my_file.read()
        print(content)

except FileNotFoundError as e:
    print(e)

print('Made by Hamid.')

try:
    my_list=[]
    print(my_list[0])
except IndexError as e:
    print(e)

[Errno 2] No such file or directory: 'test.txt'
Made by Hamid.
list index out of range

In [60]:
try:
    my_file=open('test,txt')
    content=my_file.read()
    i=int(content.strip())

except IOError as e:
    errno,strerror=e.args
    print("I/O error({0}):{1}".format(errno,strerror))

except ValueError:
    print("No valid integer in line.")

except:
    print("Unexpected error!")

I/O error(2):No such file or directory

In [61]:
try:
    my_file=open('test.txt')
    content=my_file.read()
    i=int(content.strip())

except(IOError,ValueError):
    pass

# try....except...else

In [62]:
try:
    a=5
    b=8
    print(a+b)

except ValueError as e:
    print(e)
else:
    print("There is no exception.")

13
There is no exception.

# try...except....finally

In [63]:
try:
    with open('test.txt','r') as my_file:
        content=my_file.read()
        print(content)
except FileNotFoundError:
    print('The file does not exist.')
finally:
    print("To be or not to be that is the question.")

The file does not exist.
To be or not to be that is the question.

In [64]:
try:
    raise NameError('Hey! It is a custom error massage.')
except NameError as e:
    print(e)

Hey! It is a custom error massage.

# Class,Object,Mathode Chapter=17

In [65]:
class WaltonUsta:
    """Our new car class """

    def drivining(self):
        run_the_car

    def music(self):
        run_the_music

    def fuel(self):
        load_the_fuel

    def horn(self):
        make_sound_pollution

In [66]:
class WaltonUsta:
    """Our new car class """

    def drivining(self):
        our_car=WaltonUsta
        run_the_car

    def music(self):
        her_car = WaltonUsta
        run_the_music

    def fuel(self):
        your_car=WaltonUsta
        load_the_fuel

    def horn(self):
        make_sound_pollution

In [67]:
class Calculator:
    """Do addition,subtraction,multiplication and division."""
    def addition(self,a,b):
        return a+b
    def subtraction(self,a,b):
        return a-b
    def multiplication(self,a,b):
        return a*b
    def division(self,a,b):
        return a/b
my_calculator=Calculator()

temp=my_calculator.addition(12,78)
print(temp)

temp=my_calculator.subtraction(50,23)
print(temp)

temp=my_calculator.multiplication(9,19)
print(temp)

temp=my_calculator.division(43,3)
print(temp)

90
27
171
14.333333333333334

In [68]:
class Calculator:
    """Do addition,subtraction,multiplication and division."""
    def __init__(self,a,b):
        self.a=a
        self.b=b

    def addition(self):
        return self.a+self.b

    def subtraction(self):
        return self.a-self.b

    def multiplication(self):
        return self.a*self.b

    def division(self):
        return self.a/self.b

my_calculator=Calculator(45,3)

temp=my_calculator.addition()
print(temp)

temp=my_calculator.subtraction()
print(temp)

temp=my_calculator.multiplication()
print(temp)

temp=my_calculator.division()
print(temp)

48
42
135
15.0

# Inheritence Chapter=18

In [69]:
class SuperCalculator:
    """Do addition,subtraction,multiplication,division,square,cube."""

    def addition(self,a,b):
        return a+b

    def subtraction(self,a,b):
        return a-b

    def multiplication(self,a,b):
        return a*b

    def division(self,a,b):
        return a/b

    def square(self,a):
        return a*a

    def cube(self,a):
        return a*a*a

my_calculator=SuperCalculator()

temp=my_calculator.addition(23,47)
print(temp)

temp=my_calculator.subtraction(87,54)
print(temp)

temp=my_calculator.multiplication(65,56)
print(temp)

temp=my_calculator.division(852,76)
print(temp)

temp=my_calculator.square(7)
print(temp)

temp=my_calculator.cube(3)
print(temp)

70
33
3640
11.210526315789474
49
27

In [70]:
class Calculator:
    """Do addition,subtraction,multiplication and division"""

    def addition(self,a,b):
        return a+b

    def subtraction(self,a,b):
        return a-b

    def multiplication(self,a,b):
        return a*b

    def division(self,a,b):
        return a/b

class SuperCalculator(Calculator):
    """Child class of Calculator.Do square and cube. """

    def square(self,a):
        return a*a

    def cube(self,a):
        return a*a*a

my_calculator=SuperCalculator()

temp=my_calculator.addition(23,47)
print(temp)

temp=my_calculator.subtraction(87,54)
print(temp)

temp=my_calculator.multiplication(65,56)
print(temp)

temp=my_calculator.division(852,76)
print(temp)

temp=my_calculator.square(7)
print(temp)

temp=my_calculator.cube(3)
print(temp)

70
33
3640
11.210526315789474
49
27

In [71]:
class CustomError(Exception):
    """Just for example"""

    def __init__(self,massage):
        self.massage=massage

try:
    raise CustomError("It is an Custom Error")
except CustomError as e:
    print(e)

It is an Custom Error

In [72]:
class Calculator:
    """Do addition,subtraction,multiplication and division"""

    def addition(self,a,b):
        return a+b

    def subtraction(self,a,b):
        return a-b

    def multiplication(self,a,b):
        return a*b

    def division(self,a,b):
        return a/b

class SuperCalculator(Calculator):
    """Do addition,subtraction,multiplication and division,square,cube"""

    def addition(self,a,b,c):
        return a+b+c

    def square(self,a):
        return a*a

    def cube(self,a):
        return a*a*a

my_calculator=SuperCalculator()

temp=my_calculator.addition(23,47,12)
print(temp)

temp=my_calculator.subtraction(87,54)
print(temp)

temp=my_calculator.multiplication(65,56)
print(temp)

temp=my_calculator.division(852,76)
print(temp)

temp=my_calculator.square(7)
print(temp)

temp=my_calculator.cube(3)
print(temp)

82
33
3640
11.210526315789474
49
27

# Inheriterator and jenoretor Chapter=19

In [74]:
x=iter([1,2,3])
x

In [75]:
x.__next__()

1

In [76]:
x.__next__()

2

In [77]:
x.__next__()

3

In [78]:
x.__next__()

StopIteration:

In [79]:
class revrage:

    def __init__(self,n):
        self.n=n
        self.i=n

    def __iter__(self):
        return self

    def __next__(self):
        if self.n>=0:
            if self.i==self.n:
                self.n=self.n-1
                return self.i
            else:
                self.i=self.n
                self.n=self.n-1
                return self.i
        else:
            raise StopIteration

for temp in revrage(5):
    print(temp)

5
4
3
2
1
0

In [80]:
def revrage(n):
    while n>=0:
        yield n
        n=n-1

for temp in revrage(5):
    print(temp)

5
4
3
2
1
0

# Magic method chapter=20

# Constreaction and destrection method

In [81]:
class MyClass:
    """A custom class for nothing"""
    def __init__(self,var):
        self.ver=var
        
    def __del__(self):
        del self.ver

# Comperijon method

In [82]:
a=5
b=9
a.__eq__(b)

False

In [83]:
a.__ne__(b)

True

In [84]:
a.__lt__(b)

True

In [85]:
a.__gt__(b)

False

In [86]:
a.__le__(b)

True

In [87]:
a.__ge__(b)

False

# Arithmetic magic method

In [89]:
a=5
b=9

a.__add__(b)

14

In [91]:
b.__sub__(a)

4

In [92]:
a.__mul__(b)

45

In [93]:
b.__mod__(a)

4

In [94]:
b.__pow__(a)

59049

In [95]:
b.__floordiv__(a)

1

# Type convertion megic mathod

In [96]:
a=5
type(a)

int

In [97]:
a=a.__float__()
type(a)

float

In [98]:
a=a.__str__()
type(a)

str

In [99]:
a=a.__repr__()
type(a)

str

In [100]:
a="Bangladesh"
b='desh'

a.__len__()

10

In [101]:
a.__iter__()

In [102]:
list(a.__iter__())

['B', 'a', 'n', 'g', 'l', 'a', 'd', 'e', 's', 'h']

In [103]:
a.__contains__(b)

True

# Module and pakage chapter=21

In [104]:
def fib(n):
    series=[]
    a,b=0,1
    series.append(a)
    while b<n:
        series.append(b)
        a,b=b,a+b
    return series

if __name__=="__main__":
    temp=fib(100)
    print(temp)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [105]:
import fibo

series=fibo.fib(100)
for item in series:
    print(item)

ModuleNotFoundError: No module named 'fibo'

In [106]:
from fibo import fib

series=fib(100)
for item in series:
    print(item)

ModuleNotFoundError: No module named 'fibo'

In [107]:
from fibo import*

series=fib(100)
for item in series:
    print(item)

ModuleNotFoundError: No module named 'fibo'

In [108]:
def my_function():
    #do something

def your_function():
    #do something

def main():
    #cal all functions here
    my_functions()
    #play with them
    your_function()

if __name__=="__main__":
    #now call main function
    main()

IndentationError: expected an indented block (<ipython-input-108-b12120d178ac>, line 4)

In [109]:
def fib(n):
    series=[]
    a,b=0,1
    series.append(a)
    while b<n:
        series.append(b)
        a,b=b,a+b
    return series

def main():
    temp = fib(100)
    print(temp)


if __name__=="__main__":
    main()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [110]:
import time
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [111]:
dir()

['A',
 'B',
 'Calculator',
 'CustomError',
 'In',
 'MyClass',
 'Out',
 'SuperCalculator',
 'WaltonUsta',
 '_',
 '_100',
 '_101',
 '_102',
 '_103',
 '_110',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_41',
 '_42',
 '_43',
 '_74',
 '_75',
 '_76',
 '_77',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_89',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a_list',
 'add',
 'b',
 'b_list',
 'c',
 'contant',
 'content',
 'count',
 'counter',
 'cycle',
 'errno',
 'exit',
 'factorial',
 'fib',
 'first',
 'found',
 'gcd',
 'get_ipython',
 'greatest',
 'i',
 'is_even',
 'is_prime',
 'j',
 'last',
 'lcm',
 'main',
 'midpoint',
 'my_calculator',
 'my_dict',
 'my_file',
 'my_function',
 'my_list',
 'my_set',
 'n',
 'name',
 'new_dict',
 'new_list',
 'number',
 'position',
 'print_my_name',
 'quit',
 'reversed_word',
 'revrage',
 'square',
 'strerror',
 'sum',
 'temp',
 'time',
 'word',
 'x']

In [112]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Decoretor Chapter=22

In [113]:
def get_int_as_str(number):
    return str(number)

def print_int(my_function,number):
    print(my_function(number))#get_int_as_str(130)
    return

print_int(get_int_as_str,130)

130

In [114]:
def get_int_as_str(number):
    return number

def print_int(my_function,number):
    print(my_function(number))#get_int_as_str(130)
    return

print_int(get_int_as_str,130)

130

In [115]:
def print_int(number):

    def get_int_as_str(number):
        print(str(number))
        return

    get_int_as_str(number)

print_int(130)

130

In [116]:
def print_int(number):

    def get_int_as_str(number):
        print (number)
        return

    get_int_as_str(number)

print_int(130)

130

In [117]:
def print_int(number):

    def get_int_as_str(number):
        print(str(number))
        return
    
    return get_int_as_str(number)

print_int(130)

130

In [118]:
def print_int(my_function):

    def any_function():
        return my_function

    return any_function()

@print_int
def get_int_as_str(number):
    print(str(number))
    return

get_int_as_str(130)

130

In [119]:
from time import time

def timer(any_funtion):
    def count_time():
        start=time()
        any_funtion()
        stop=time()
        print(stop-start,'seconds')
    return count_time()
@timer
def hello():
     print("Hello world!")
     return

@timer
def another_function():
    for item in [1,2,3,4,5,6,7,8,9,10]:
        print(item)
    return

hello()

another_function()

Hello world!
0.0 seconds
1
2
3
4
5
6
7
8
9
10
0.0 seconds

TypeError: 'NoneType' object is not callable

In [120]:
class MyClass():
    """Simple class to define something"""

    def __init__(self):
        pass

    def square(self,x):
        return x**2

    @classmethod
    def cube(self,x):
        return x**3

if __name__=="__main__":
    myclass=MyClass()

print(myclass.square(3))
print(myclass.cube(3))
print(MyClass.cube(3))
print(MyClass.square(3))

9
27
27

TypeError: square() missing 1 required positional argument: 'x'

# @staticmethod

In [121]:
class MyClass:
    "Simple Class to define something"

    def __init__(self):
        pass
    def square(self,x):
        return x**2

    @staticmethod
    def cube(x):
        return x**3

if __name__=="__main__":
    myclass=MyClass()
    print(myclass.square(3))
    print(myclass.cube(3))
    print(MyClass.cube(3))
    print(MyClass.square(3))

9
27
27

TypeError: square() missing 1 required positional argument: 'x'

# @property methode¶

In [122]:
class Weather:

    def __init__(self,temperature=0):
        self.temperature=temperature

    def to_fahrenheit(self):
        return self.temperature*1.8

weather=Weather()
print(weather.temperature)

0

In [123]:
class Weather:

    def __init__(self,temperature=0):
        self.temperature=temperature

    def to_fahrenheit(self):
        return self.temperature*1.8

weather=Weather()
print(weather.temperature)

weather.temperature=25
print(weather.temperature)

weather.to_fahrenheit()
print(weather.to_fahrenheit())

0
25
45.0

In [124]:
class MyClass:
    """Simple Class to define something"""
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name

    @property
    def full_name(self):
        return self.first_name+' '+self.last_name

if __name__=="__main__":
    myclass=MyClass("Hamid","Hosen")
    print(myclass.full_name)
    #myclass.full_name='New Name'

Hamid Hosen

In [125]:
class MyClass:
    """Simple Class to define something"""
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name

    @property
    def full_name(self):
        return self.first_name+' '+self.last_name

if __name__=="__main__":
    myclass=MyClass("Hamid","Hosen")
    print(myclass.full_name)
    myclass.full_name='New Name'

Hamid Hosen

AttributeError: can't set attribute

# Stack Chapter=35

# Singly Link List Chapter=38

# Web programming chapter=41

In [ ]:
from flask import Flask
app=Flask(__name__)

@app.route("/")
def hello():
    return "Hello World"

if __name__=='__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [ ]:
import os
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app=Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URL']='sqlite:///test.db'
app.config['SQLALCHEMY_TRACK_MODIFICATION']=True
db=SQLAlchemy(app)

if not os.path.exists('test.db'):
    db.create_all()

@app.route("/")
def hello():
    return "Hello World!"

if __name__=="__main__":
    app.run()

# GUI(Graphical User Interface) Programming Cjapter=42

In [ ]:
import gi
gi.require_version('Gtk''3.0')
from cgi.repository import Gtk

win=Gtk.Windows()
win.connect("delete_event",Gtk.main_quit)
win.show_all()
Gtk.main()